{% extends 'base-admin.html' %}
{% load static %}
{% block title %} {{title}} {% endblock %}
{% block section %}
<div class="section-body">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h4>{{title}}</h4>
          <div class="card-header-form">
            <form action="{% url 'payment:all_list_payment_page' %}" method="post">
              {% csrf_token %}
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" required name="query" value="{{name}}">
                <div class="input-group-btn">
                  <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-striped">
              <tr>
                <th class="text-center"></th>
                <th>Название платежа</th>
                <th>общая сумма</th>
                <th>Дата платежа</th>
              </tr>
              {% for x in page_obj %}
              <tr>
                <td class="p-0 text-center"></td>
                <td>{{x.name}}</td>
                <td>{{x.amount}}</td>
                <td>{{x.create_at}}</td>
              </tr>
              {% empty %}
              <tr>
                <td class="p-0 text-center"></td>
                <td></td>
                <td><p>Нет платежа</p></td>
                <td></td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
        <div class="card-footer text-right">
          <nav class="d-inline-block">
            <ul class="pagination mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
              </li>
              {% for p in page_obj.paginator.page_range %}
              {% if page_obj.number == p %}
              <li class="page-item active">
                <a class="page-link" href="?page={{p}}"> {{p}} 
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{p}}"> {{p}}
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              {% endif %}
              {% endfor %}
              <li class="page-item">
                <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}