{% extends 'base-admin.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block section %}
<div class="section-body">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Редактировать доктора</h4>
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row mb-4">
              <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Имя</label>
              <div class="col-sm-12 col-md-7">
                <input type="text" class="form-control" required name="first_name" value="{{doctor.first_name}}">
              </div>
            </div>

            <div class="form-group row mb-4">
              <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Фамилия</label>
              <div class="col-sm-12 col-md-7">
                <input type="text" class="form-control" required name="last_name" value="{{doctor.last_name}}">
              </div>
            </div>

            <div class="form-group row mb-4">
              <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Телефон</label>
              <div class="col-sm-12 col-md-7">
                <input type="text" class="form-control" required name="phone" value="{{doctor.phone}}">
              </div>
            </div>

            <div class="form-group row mb-4">
              <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Описание</label>
              <div class="col-sm-12 col-md-7">
                <textarea name="description" class="summernote-simple" id="" required cols="30" rows="10">{{doctor.description}}</textarea>
              </div>
            </div>

            <div class="form-group row mb-4">
              <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Фото</label>
              <div class="col-sm-12 col-md-7">
                <input type="file" class="form-control" required name="photo" value="{{doctor.photo}}">
              </div>
            </div>

            <div class="form-group row mb-4">
              <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
              <div class="col-sm-12 col-md-7">
                <button class="btn btn-primary">Редактировать</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}